jupyter-book==0.15.0
jupyter-sphinx==0.4.0
markdown-it-py==2.2.0
markupsafe==2.1.2
myst-nb==0.17.1
numpy==1.23
h5py==3.7
matplotlib==3.5
ipython==8.2
ipykernel==5.5
decorator==5.1
scipy==1.8
pytest==7.3.0